<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="table-container">
        <table>
          <thead>
            <tr>
              <th>Id</th>
              <th>Nombre</th>
              <th>Apellido</th>
              <th>Edad</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let alumno of alumnos">
              <td>{{alumno.Id}}</td>
              <td>{{alumno.Nombre | uppercase}}</td>
              <td>{{alumno.Apellido | uppercase}}</td>
              <td>{{alumno.Edad}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
